<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-12 text-center form-group">
            <h2>Welcome to Volunteer Signup</h2>
            <img class="volunteer_img" src="images/v.png" alt="volunteer image">
            <h5>You can manage your events free of cost in 3 easy steps</h5>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron welcome">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-info">
                    Create a Signup Sheet
                </li>
                <li class="list-group-item list-group-item-info">
                    Email link to potential volunteers
                </li>
                <li class="list-group-item list-group-item-info">
                    Volunteers can sign up without registration
                </li>
            </ul>
        </div>
        <div class="col-md-12 text-center form-group">
            <h5>Keep a track of all the volunteers signed up and inform them regarding any cancellations.</h5>
        </div>
        <div class="col-md-12 text-center form-group">
            <button class="btn btn-info welcome-create-btn" ui-sref="home.login">Create signup sheet now </button>
        </div>
    </div>
</div>